<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
    #login div#header {
      height: 180px;
      margin: 0 auto;
      padding-top: 90px;
      width: 330px;
    }
    #login div#header h1 {
      float: none;
      height: 45px;
      margin: 0 auto;
      width: 109px;
    }
</style>
