<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container" id="login">



  <main>
    <div class="row" id="header">
      <h1>Nettok</h1>
    </div>
    <div>
      <div>

      </div>
    </div>
  </main>

  <footer>
      <% include ../partials/footer %>
  </footer>

</body>
</html>
